#topBar {
    position: absolute;
    width: 100%;
    height: 3rem;
    top: 0;
    background-color: #6E0A1E;
    padding: 1px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: whitesmoke;
    align-items: center;
    height: 100%;
}